<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate!</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
            </div>
    
            <div class="search-bar">
                <form action="" method="">
                    <label for="search"></label>
                    <input type="search" name="search" id="search" placeholder="Buscar productos, marcas y más...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
    
            <div class="mensaje-header">
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <nav class="nav-bar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="login-bar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i> </a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"> </i></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <form action="/" method="POST" class="formulario-registro">
            <h4>Informacion de usuario: </h4>
            <div>
                <input type="text" name="nombre" placeholder="Nombre y apellido" required>
            </div>
            <div>
                <input type="text" name="usuario" placeholder="Nombre de usuari@" required>
            </div>
            <div>
                <input type="email" name="email" placeholder="E-Mail" required>
            </div>
            <h4>Fecha de nacimiento</h4>
            <div>
                <input type="date" name="fecha" id="nacimiento" required>
            </div>
            <div>
                <input type="text" name="domicilio" placeholder="Domicilio">
            </div>
            <h4>Perfil de Usuario</h4>
            <div>
                <label for="vendedor">Vendedor: </label>
                <input type="radio" name="perfil-de-usuario" value="Vendedor" id="vendedor">
            </div>
            <div>
                <label for="comprador">Comprador: </label>
                <input type="radio" name="perfil-de-usuario" value="Comprador" id="comprador">
            </div>

            <h4>Intereses</h4>
            <div class="intereses">
                <div>
                    <input type="checkbox" name="intereses" value="electro" id="electro">
                    <label for="electro">Electro</label>
                </div>
                <div>
                    <input type="checkbox" name="intereses" value="moda" id="moda">
                    <label for="moda">Moda</label>
                </div>
                <div>
                    <input type="checkbox" name="intereses" value="hogar" id="hogar">
                    <label for="hogar">Hogar</label>
                </div>
                <div>
                    <input type="checkbox" name="intereses" value="jugueteria" id="jugueteria">
                    <label for="jugueteria">Jugueteria</label>
                </div>
                <div>
                    <input type="checkbox" name="intereses" value="vida-sana" id="vida-sana">
                    <label for="vida-sana">Vida sana</label>
                </div>
            </div>
            <h4>Elegi tu foto de perfil</h4>
            <div>
                <input type="file" name="avatar">
            </div>
            <div>
                <input type="password" name="password" placeholder="Elegi tu contraseña" required>
            </div>
            <div>
                <input type="password" name="password-confirm" placeholder="Confirmá tu contraseña" required>
            </div>
            <div class="submit-reset-buttons">
                <input type="submit" value="Enviar" >
                <input type="reset" value="Borrar">
            </div>
        </form>
    </main>
    <footer>
        <div class="footer-container">
            <section>
                <i class="fa-solid fa-credit-card footer-icons"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>
                    Con MercadoLiebreCash tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                    seguro!
                </p>
            </section>
            <section>
                <i class="fa-solid fa-gift footer-icons"></i>
                <h3>Envio gratis desde los $2500</h3>
                <p>
                    Solo por estar registrado en MercadoLiebre tenés envios gratis en miles de productos. Es un beneficio de
                    Mercado Puntos.
                </p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield footer-icons"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>
                    ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer por que estás sempre
                    protegid@.
                </p>
            </section>
        </div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>